<!DOCTYPE html>
<html>
<head lang="bg">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/normalize.css"/>
	<link rel="stylesheet" href="css/main.css"/>
	<script src="js/jquery-2.1.3.min.js"></script>
	<script src="js/main.js"></script>
	<title>Martial Arts News</title>
</head>
<body>
	<div class="container">
		<header class="header">
			<h1>Martial Arts <span>News</span></h1>
		</header>
		<nav class="navigation">
			<ul>
				<li><a href="index.php.html">НАЧАЛО</a></li>
				<li>
					<a href="category.html">КАТЕГОРИИ</a>
					<ul class="submenu">
						<li><a class="active" href="category_boxing.html">Бокс</a></li>
						<li><a href="category_kickbox.html">Кикбокс</a></li>
						<li><a href="category_mma.html">ММА</a></li>
					</ul>
				</li>
				<li class="mobile_nav"><a class="active" href="category_boxing.html">Бокс</a></li>
				<li class="mobile_nav"><a  href="category_kickbox.html">Кикбокс</a></li>
				<li class="mobile_nav"><a  href="category_mma.html">ММА</a></li>

				<li><a href="gallery.html">ГАЛЕРИЯ</a></li>
				<li><a href="ranklist.html">РАНГЛИСТА</a></li>
				<li><a href="contact.html">ЗА КОНТАКТИ</a></li>
			</ul>
		</nav>
		<section class="main">
			<section class="box content">
				<header class="content_header">
					<h2>Боксови <span>новини</span></h2>
				</header>
				<article class="article_full">
					<h3>Мейуедър и Пакяо се <span>доближиха</span> до подписване</h3>
					<img src="img/floyd-manny.png" alt="floyd-manny">
					<p> Някои от ключовите моменти, които по-рано бяха спънка за преговорите между Флойд Мейуедър и Мани Пакяо, са на път да бъдат изгладени.
					   Мейуедър срещу Пакяо може би ще бъде най-голямото боксово събитие в историята на този спорт.
					   Репортерът на вестник "L.A. Times", Ланс Пъгмир съобщава повече детайли:</p>
					
					<blockquote><p>"Мейуедър предложи приходите от двубоя да се разделят 60-40 в негова полза, а Пакяо изглежда е готов да се съгласи на това.
								   И двамата боксьори вече са дали съгласието си срещата да се проведе в MGM Grand Garden Arena в Лас Вегас и са се съгласили
								   на условията за допинг тестове. Все още обаче няма дата за срещата. Вярва се, че тя може да се проведе през май или юни.
								   Може би ще имаме подписан договор в близките 7-10 дена."</p></blockquote> 
					
				</article>
				<article class="article_full">
					<h3>Далаклиев се <span>завръща</span> в националния</h3>
					<img src="img/dalakliev.png" alt="dalakliev">
					<p> Световният шампион по бокс от 2009 г. Детелин Далаклиев се завърна в националния отбор, съобщава Sportal.bg. Плевенчанинът се качи на
					   лагер в Белмекен, където ще протече първата част от подготовката за новата година. През миналата година Далаклиев си беше дал почивка
					   от националния тим и бокса, а през декември се завърна на ринга и отвя конкуренцията на държавното първенство в Добрич.</p>
					
					<p> Миналата година се появи и биографичната му книга "Никога не се предавай: Историята на Детелин Далаклиев". В края на януари предстои
  					   републиканско в Пазарджик, а турнирът "Странджата" е следващото изпитание пред Далаклиев. Надпреварата ще се проведе в София през
					   февруари.</p> 
					
					<p> Основните цели пред националите през новата година са европейските игри в Баку, следва шампионатът на Стария континент в София през
    				   август. Турнирът е квалификация за световното през октомври, на което ще се печелят визи за олимпийските игри в Рио.</p>
				</article>
			</section>
			<aside class="sidebar">
				<section class="box survey">
					<header class="survey_header">
						<h2>Анкета</h2>
					</header>
					<p>Кого бихте определили като най-велик боксьор в историята на спорта?</p>
					<form method="post" action="category_boxing.html" onsubmit="return false;">
						<div class="survey_row">
							<input id="1" type="radio" name="survey" value="1"/>
							<span class="survey_text 1">Мохамед Али</span>
						</div>
						<div class="survey_row">
							<input id="2" type="radio" name="survey" value="1"/>
							<span class="survey_text 2">Роки Марчиано</span>
						</div>
						<div class="survey_row">
							<input id="3" type="radio" name="survey" value="1"/>
							<span class="survey_text 3">Майк Тайсън</span>
						</div>
						<div class="survey_row">
							<input id="4" type="radio" name="survey" value="1"/>
							<span class="survey_text 4">Флойд Мейуедър</span>
						</div>
						<div class="survey_row">
							<input id="5" type="radio" name="survey" value="1"/>
							<span class="survey_text 5">Джо Луис</span>
						</div>
						
						<input class="submit_btn" type="submit" value="Гласувай" onclick="vote()">
					</form>
				</section>
				<section class="box social_networks">
					<header class="social_header">
						<h2>Social <span>networks</span></h2>
					</header>
					<img src="img/fb.png" alt="facebook" class="share" id="Facebook"/>
					<img src="img/twtr.png" alt="twitter" class="share" id="Twitter"/>
					<img src="img/gplus.png" alt="googleplus" class="share" id="Google+"/>
				</section>
			</aside>
			<div class="clearfix"></div>
		</section>
		<footer class="footer">
			<p>Martial Arts News Copyright &#169; 2013-2015</p>
		</footer>
	</div>
</body>
</html>