<!DOCTYPE html>
<html>
<head lang="bg">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/normalize.css"/>
	<link rel="stylesheet" href="css/main.css"/>
	<script src="js/jquery-2.1.3.min.js"></script>
	<script src="js/main.js"></script>
	<title>Martial Arts News</title>
</head>
<body>
	<div class="container">
		<header class="header">
			<h1>Martial Arts <span>News</span></h1>
		</header>
		<nav class="navigation">
			<ul>
				<li><a href="index.php.html">НАЧАЛО</a></li>
				<li>
					<a class="active" href="category.html">КАТЕГОРИИ</a>
					<ul class="submenu">
						<li><a href="category_boxing.html">Бокс</a></li>
						<li><a href="category_kickbox.html">Кикбокс</a></li>
						<li><a href="category_mma.html">ММА</a></li>
					</ul>
				</li>
				<li class="mobile_nav"><a  href="category_boxing.html">Бокс</a></li>
				<li class="mobile_nav"><a  href="category_kickbox.html">Кикбокс</a></li>
				<li class="mobile_nav"><a  href="category_mma.html">ММА</a></li>

				<li><a href="gallery.html">ГАЛЕРИЯ</a></li>
				<li><a href="ranklist.html">РАНГЛИСТА</a></li>
				<li><a href="contact.html">ЗА КОНТАКТИ</a></li>
			</ul>
		</nav>
		<section class="main">
			<section class="box content">
				<header class="content_header">
					<h2><span>Новини</span></h2>
				</header>
				<article class="article_full">
					<h3>Мейуедър и Пакяо се <span>доближиха</span> до подписване</h3>
					<img src="img/floyd-manny.png" alt="floyd-manny">
					<p> Някои от ключовите моменти, които по-рано бяха спънка за преговорите между Флойд Мейуедър и Мани Пакяо, са на път да бъдат изгладени.
					   Мейуедър срещу Пакяо може би ще бъде най-голямото боксово събитие в историята на този спорт.
					   Репортерът на вестник "L.A. Times", Ланс Пъгмир съобщава повече детайли:</p>
					
					<blockquote><p>"Мейуедър предложи приходите от двубоя да се разделят 60-40 в негова полза, а Пакяо изглежда е готов да се съгласи на това.
								   И двамата боксьори вече са дали съгласието си срещата да се проведе в MGM Grand Garden Arena в Лас Вегас и са се съгласили
								   на условията за допинг тестове. Все още обаче няма дата за срещата. Вярва се, че тя може да се проведе през май или юни.
								   Може би ще имаме подписан договор в близките 7-10 дена."</p></blockquote> 
					
				</article>
				<article class="article_full">
					<h3>Далаклиев се <span>завръща</span> в националния</h3>
					<img src="img/dalakliev.png" alt="dalakliev">
					<p> Световният шампион по бокс от 2009 г. Детелин Далаклиев се завърна в националния отбор. Плевенчанинът се качи на
					   лагер в Белмекен, където ще протече първата част от подготовката за новата година. През миналата година Далаклиев си беше дал почивка
					   от националния тим и бокса, а през декември се завърна на ринга и отвя конкуренцията на държавното първенство в Добрич.</p>
					
					<p> Миналата година се появи и биографичната му книга "Никога не се предавай: Историята на Детелин Далаклиев". В края на януари предстои
  					   републиканско в Пазарджик, а турнирът "Странджата" е следващото изпитание пред Далаклиев. Надпреварата ще се проведе в София през
					   февруари.</p> 
					
					<p> Основните цели пред националите през новата година са европейските игри в Баку, следва шампионатът на Стария континент в София през
    				   август. Турнирът е квалификация за световното през октомври, на което ще се печелят визи за олимпийските игри в Рио.</p>
				</article>
				<article class="article_full">
					<h3>Луйс Тейлър контузен и <span>освободен</span> от UFC</h3>
					<img src="img/luis.png" alt="luis">
					<p>Миналата седмица Костас Филипо получи контузия преди двубоя си на 18 януари. Той бе заменен от Луйс Тейлър, който обаче вчера също
					   се е контузил и няма да може да излезе срещу Урая Хол.</p>
					
					<p>Но лошите новини за него не свършват до тук - UFC прекратиха договора с него още преди той да е стъпил в Октагона.</p>
					
					<blockquote><p>"Лоши новини... разтегнах мускул на гърба и няма да мога да се бия следващия уикенд. Бих искал да кажа, че от UFC са
      					            проявили разбиране, но те ми прекратиха договора. Здравето обаче е по-важно от парите."</p></blockquote> 
					
				</article>
				<article class="article_full">
					<h3>Джон Джоунс с <span>победа</span> срещу Даниел Кормиер</h3>
					<img src="img/jon.png" alt="jon">
					<p> Шампионът на UFC в лека-тежка категория Джон Джоунс (САЩ) надви след съдийско решение Даниел Кормиер (САЩ) в един от най-чаканите 
					мачове през последните месеци. Шампионът доминираше с отличната си игра в стойка. Претендентът непрекъснато се опитваше да пренесе мача
					на земя, но това не му се отдаваше.</p>
					
					<blockquote><p>"Той е просто човек. Изговори много неща, които ме мотивираха"</p></blockquote>
					
					<p> - заяви Джоунс. Кормиер се оправда с факта, че не е успял да намери своя ритъм. Той отдаде заслуженото на победителя:</p>
					
					<blockquote><p>"Джон не случайно е най-добрият. Той беше по-добрия тази вечер"</p></blockquote>
					
					<p></p> 
					
					<p>Тримата съдии точкуваха срещата 49:46. Това беше осмата успешна защита на Джоунс.</p>
				</article>
				<article class="article_full">
					<h3>Джо Шилинг се <span>завръща</span> в кикбокса</h3>
					<img src="img/schilling.png" alt="schilling">
					<p> Боецът в средната категория на Bellator, Джо Шилинг беше обещал, че ще участва в ММА и кикбокс двубои през 2015. Изглежда той
					    ще удържи на думата си, тъй като е подписал договор с Glory през изминалата седмица. Първият му двубой ще бъде срещу Робърт Томас
						на 6 февруари в Glory 19.</p>
					
					<p>Шилинг (18-6 кикбокс, 2-3 MMA) записа добро представяне в последния турнир на Glory, когато завърши на второ място. 11 от 18 победи на
					   Шилинг в кикбокса са с нокаут.</p>
					   
					<p>След 6 години извън ММА, Шилинг се завърна в клетката на 15 ноември в Bellator 131, когато се би с Мелвинг Маноев. Двамата направиха
 					   изключително зрелищна битка, размениха си нокдауни, докато Шилинг не нацели Маноеф само както той си знае във втория рунд.</p>
				</article>
				<article class="article_full">
					<h3>Миличич издържа <span>два рунда</span> в първия си бой</h3>
					<img src="img/milicic.png" alt="milicic">
					<p> Една от най-големите надежди на европейския баскетбол през последните 15 години започна кариерата си в кикбокса с поражение. Дарко Миличич
					    издържа два рунда в първия си бой - срещу Радован Радойчин в Нови Сад, а причината за бързото приключване на двубоя бе контузия на
						бившата баскет звезда.</p>
					
					<p>213-сантиметровият исполин получи травма на големия пищял на крака и въпреки желанието си да продължи битката, докторите не му позволиха и така
               		   победата отиде при Радойчин.</p> 
					<blockquote><p>“Бих казал, че като за първи път не е зле. Приключихме по настояване на лекаря, иначе видяхте, че физически съм готов. Дано
					               контузията не е много сериозна. Ще бъда още по-добър в следващия си мач”</p></blockquote>
					
					<p>Миличич е играл 11 сезона в НБА, като за този период е заработил $52 милиона.</p>
				</article>
			</section>
			<aside class="sidebar">
				<section class="box survey">
					<header class="survey_header">
						<h2>Анкета</h2>
					</header>
					<p>Кого бихте определили като най-велик боксьор в историята на спорта?</p>
					<form method="post" action="category.html" onsubmit="return false;">
						<div class="survey_row">
							<input id="1" type="radio" name="survey" value="1"/>
							<span class="survey_text 1">Мохамед Али</span>
						</div>
						<div class="survey_row">
							<input id="2" type="radio" name="survey" value="1"/>
							<span class="survey_text 2">Роки Марчиано</span>
						</div>
						<div class="survey_row">
							<input id="3" type="radio" name="survey" value="1"/>
							<span class="survey_text 3">Майк Тайсън</span>
						</div>
						<div class="survey_row">
							<input id="4" type="radio" name="survey" value="1"/>
							<span class="survey_text 4">Флойд Мейуедър</span>
						</div>
						<div class="survey_row">
							<input id="5" type="radio" name="survey" value="1"/>
							<span class="survey_text 5">Джо Луис</span>
						</div>
						
						<input class="submit_btn" type="submit" value="Гласувай" onclick="vote()">
					</form>
				</section>
				<section class="box social_networks">
					<header class="social_header">
						<h2>Social <span>networks</span></h2>
					</header>
					<img src="img/fb.png" alt="facebook" class="share" id="Facebook">
					<img src="img/twtr.png" alt="twitter" class="share" id="Twitter">
					<img src="img/gplus.png" alt="googleplus" class="share" id="Google+">
				</section>
			</aside>
			<div class="clearfix"></div>
		</section>
		<footer class="footer">
			<p>Martial Arts News Copyright &#169; 2013-2015</p>
		</footer>
	</div>
</body>
</html>
