<!DOCTYPE html>
<html>
<head lang="bg">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <script src="js/jquery-2.1.3.min.js"></script>
    <script src="js/main.js"></script>
    <title>Martial Arts News </title>
</head>
<body>
<div class="container">
    <header class="header">
        <h1>Martial Arts <span>News</span></h1>
    </header>
    <nav class="navigation">
        <ul>
            <li><a href="index.php.html">НАЧАЛО</a></li>
            <li>
                <a href="category.html">КАТЕГОРИИ</a>
                <ul class="submenu">
                    <li><a href="category_boxing.html">Бокс</a></li>
                    <li><a href="category_kickbox.html">Кикбокс</a></li>
                    <li><a href="category_mma.html">ММА</a></li>
                </ul>
            </li>
            <li class="mobile_nav"><a  href="category_boxing.html">Бокс</a></li>
            <li class="mobile_nav"><a  href="category_kickbox.html">Кикбокс</a></li>
            <li class="mobile_nav"><a  href="category_mma.html">ММА</a></li>

            <li><a href="gallery.html">ГАЛЕРИЯ</a></li>
            <li><a href="ranklist.html">РАНГЛИСТА</a></li>
            <li><a class="active" href="contact.html">ЗА КОНТАКТИ</a></li>
        </ul>
    </nav>
    <section class="main">
        <section class="content">

            <section class="box `contact_us">
                <header>
                    <h2>За въпроси и препоръки - пишете ни!</h2>
				</header>

            </section>
            <section class="box contact_box">
                <form action="contact.html" method="post"  onsubmit="return false;">
                    <p>Име: <input class="input_name" type="text" name="name"></p>
                    <p>Емайл: <input class="input_email" type="text" name="email"></p>
                    <br/>
                    <textarea class="comment">

                    </textarea><br/>
                    <input class="submit_btn" type="submit" value="Изпрати" onclick="send()">
                </form>
            </section>
        </section>
        <aside class="sidebar">
            <section class="box survey">
                <header class="survey_header">
                    <h2>Анкета</h2>
                </header>
                <p>Кого бихте определили като най-велик боксьор в историята на спорта?</p>
                <form method="post" action="contact.html" onsubmit="return false;">
                    <div class="survey_row">
                        <input id="1" type="radio" name="survey" value="1"/>
                        <span class="survey_text 1">Мохамед Али</span>
                    </div>
                    <div class="survey_row">
                        <input id="2" type="radio" name="survey" value="1"/>
                        <span class="survey_text 2">Роки Марчиано</span>
                    </div>
                    <div class="survey_row">
                        <input id="3" type="radio" name="survey" value="1"/>
                        <span class="survey_text 3">Майк Тайсън</span>
                    </div>
                    <div class="survey_row">
                        <input id="4" type="radio" name="survey" value="1"/>
                        <span class="survey_text 4">Флойд Мейуедър</span>
                    </div>
                    <div class="survey_row">
                        <input id="5" type="radio" name="survey" value="1"/>
                        <span class="survey_text 5">Джо Луис</span>
                    </div>

                    <input class="submit_btn" type="submit" value="Гласувай" onclick="vote()">
                </form>
            </section>
            <section class="box social_networks">
                <header class="social_header">
                    <h2>Social <span>networks</span></h2>
                </header>
                <img src="img/fb.png" alt="facebook" class="share" id="Facebook"/>
                <img src="img/twtr.png" alt="twitter" class="share" id="Twitter"/>
                <img src="img/gplus.png" alt="googleplus" class="share" id="Google+"/>
            </section>
        </aside>
        <div class="clearfix"></div>
    </section>
    <footer class="footer">
        <p>Martial Arts News Copyright &#169; 2013-2015</p>
    </footer>
</div>
</body>
</html>
