<!DOCTYPE html>
<html>
<head lang="bg">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/normalize.css"/>
	<link rel="stylesheet" href="css/main.css"/>
	<script src="js/jquery-2.1.3.min.js"></script>
	<script src="js/main.js"></script>
	<title>Martial Arts News</title>
</head>
<!-- test commint asd -->
<body>
	<div class="container">
		<header class="header">
			<h1>Martial Arts <span>News</span></h1>
		</header>
		<nav class="navigation">
			<ul>
				<li><a href="index.php.html">НАЧАЛО</a></li>
				<li>
					<a href="category.html">КАТЕГОРИИ</a>
					<ul class="submenu">
						<li><a href="category_boxing.html">Бокс</a></li>
						<li><a href="category_kickbox.html">Кикбокс</a></li>
						<li><a href="category_mma.html">ММА</a></li>
					</ul>
				</li>
				<li class="mobile_nav"><a  href="category_boxing.html">Бокс</a></li>
				<li class="mobile_nav"><a  href="category_kickbox.html">Кикбокс</a></li>
				<li class="mobile_nav"><a  href="category_mma.html">ММА</a></li>

				<li><a href="gallery.html">ГАЛЕРИЯ</a></li>
				<li><a class="active" href="ranklist.html">РАНГЛИСТА</a></li>
				<li><a href="contact.html">ЗА КОНТАКТИ</a></li>
			</ul>
		</nav>
		<section class="main">
			<section class="content">
				<section class="box">
					<header>
						<h2>Ранглиста</h2>
					</header>
					<h3>Бокс</h3>
					<table class="table">
						<tr>
							<th>№</th>
							<th>Тежка категория</th>
							<th>Лека-тежка</th>
							<th>Средна категория</th>
							<th>Полусредна категория</th>
							<th>Лека категория</th>
						</tr>
						<tr class="first">
							<td>1.</td>
							<td>Владимир Кличко</td>
							<td>ВАКАНТНО</td>
							<td>Мигел Кото</td>
							<td>ВАКАНТНО</td>
							<td>Теранс Крауфорд</td>
						</tr>
						<tr>
							<td>2.</td>
							<td>Александър Поветкин</td>
							<td>Марко Хук</td>
							<td>Генади Головкин</td>
							<td>Флойд Мейуедър</td>
							<td>Ричард Абрил</td>
						</tr>
						<tr>
							<td>3.</td>
							<td>Тайсън Фюри</td>
							<td>Х.П.Ернандес</td>
							<td>Питър Киулин</td>
							<td>Мани Пакяо</td>
							<td>Мики Бей</td>
						</tr>
						<tr>
							<td>4.</td>
							<td>Бърмейн Стивърн</td>
							<td>Денис Лебедев</td>
							<td>Серхио Мартинес</td>
							<td>Тимати Брадли</td>
							<td>Мигел Васкес</td>
						</tr>
						<tr>
							<td>5.</td>
							<td>Кубрат Пулев</td>
							<td>Григори Дрозд</td>
							<td>Мартин Мъри</td>
							<td>Х.М.Маркес</td>
							<td>Реймудно Белтран</td>
						</tr>
					</table>
					
					<h3>Кикбокс</h3>
					<table class="table">
					<tr>
							<th>№</th>
							<th>Тежка категория</th>
							<th>Лека-тежка</th>
							<th>Средна категория</th>
							<th>Полусредна категория</th>
							<th>Лека категория</th>
						</tr>
						<tr class="first">
							<td>1.</td>
							<td>Естебан Сото</td>
							<td>Каенорсинг Коаклай</td>
							<td>Ричард Ейбрахам</td>
							<td>Лий Гарап</td>
							<td>Марио Каплонч</td>
						</tr>
						<tr>
							<td>2.</td>
							<td>Давид Марсина</td>
							<td>Хейно Бьогелсак</td>
							<td>Паскал Шмид</td>
							<td>Алехандро Монтеро</td>
							<td>Адриан Мина</td>
						</tr>
						<tr>
							<td>3.</td>
							<td>Майк Шепърд</td>
							<td>Майрис Бредис</td>
							<td>Антъни Форд</td>
							<td>Мартин Гано</td>
							<td>Ф.А. Рома</td>
						</tr>
						<tr>
							<td>4.</td>
							<td>Арнолд Обратов</td>
							<td>Жосеф Варшол</td>
							<td>Афам Обинка</td>
							<td>Любош Лесак</td>
							<td>Самир Саки</td>
						</tr>
						<tr>
							<td>5.</td>
							<td>Дънкан Джеймс</td>
							<td>Имре Торок</td>
							<td>Бруно Карвальо</td>
							<td>Йосиф Сатоути</td>
							<td>Артур Тозлян</td>
						</tr>
					</table>
					
					<h3> ММА (UFC)</h3>
					<table class="table">
					<tr>
							<th>№</th>
							<th>Тежка категория</th>
							<th>Лека-тежка</th>
							<th>Средна категория</th>
							<th>Полусредна категория</th>
							<th>Лека категория</th>
						</tr>
						<tr class="first">
							<td>1.</td>
							<td>Keйн Веласкес</td>
							<td>Джон Джоунс</td>
							<td>Крис Уейдман</td>
							<td>Роби Лоулер</td>
							<td>Антъни Петис</td>
						</tr>
						<tr>
							<td>2.</td>
							<td>Фабрисио Вердум</td>
							<td>Александър Густафсон</td>
							<td>Андерсон Силва</td>
							<td>Джони Хендрикс</td>
							<td>Рафаел дос Аньос</td>
						</tr>
						<tr>
							<td>3.</td>
							<td>Джуниър дос Сантос</td>
							<td>Даниел Кормиер</td>
							<td>Жакар Соуза</td>
							<td>Рори Макдоналд</td>
							<td>К. Нурмагомедов</td>
						</tr>
						<tr>
							<td>4.</td>
							<td>Травис Браун</td>
							<td>Антъни Джонсън</td>
							<td>Лото Мачида</td>
							<td>Тайрън Удни</td>
							<td>Доналд Жерон</td>
						</tr>
						<tr>
							<td>5.</td>
							<td>Стип Миочич</td>
							<td>Рашад Еванс</td>
							<td>Витор Белфорд</td>
							<td>Карлос Кондит</td>
							<td>Жилберт Мелендез</td>
						</tr>
					</table>
					
				</section>
			</section>
			<aside class="sidebar">
				<section class="box survey">
					<header class="survey_header">
						<h2>Анкета</h2>
					</header>
					<p>Кого бихте определили като най-велик боксьор в историята на спорта?</p>
					<form method="post" action="ranklist.html" onsubmit="return false;">
						<div class="survey_row">
							<input id="1" type="radio" name="survey" value="1"/>
							<span class="survey_text 1">Мохамед Али</span>
						</div>
						<div class="survey_row">
							<input id="2" type="radio" name="survey" value="2"/>
							<span class="survey_text 2">Роки Марчиано</span>
						</div>
						<div class="survey_row">
							<input id="3" type="radio" name="survey" value="3"/>
							<span class="survey_text 3">Майк Тайсън</span>
						</div>
						<div class="survey_row">
							<input id="4" type="radio" name="survey" value="4"/>
							<span class="survey_text 4">Флойд Мейуедър</span>
						</div>
						<div class="survey_row">
							<input id="5" type="radio" name="survey" value="5"/>
							<span class="survey_text 5">Джо Луис</span>
						</div>
						
						<input class="submit_btn" type="submit" value="Гласувай" onclick="vote()">
					</form>
				</section>
				<section class="box social_networks">
					<header class="social_header">
						<h2>Social <span>networks</span></h2>
					</header>
					<img src="img/fb.png" alt="facebook" class="share" id="Facebook"/>
					<img src="img/twtr.png" alt="twitter" class="share" id="Twitter"/>
					<img src="img/gplus.png" alt="googleplus" class="share" id="Google+"/>
				</section>
			</aside>
			<div class="clearfix"></div>
		</section>
		<footer class="footer">
		<p>Martial Arts News Copyright &#169; 2013-2015</p>
		</footer>
	</div>
</body>
</html>